    <form>
        <label for="name">Name</label>;
        <input type="text" id="name" placeholder="Please Enter your name.">

        <label for="email">Email</label>;
        <input type="email" id="email" placeholder="Please Enter your email.">

        <label for="password">Password</label>;
        <input type="password" id="password" placeholder="Please Enter your password.">

        <button id="submit-btn">Submit</button>
    </form>
<script src="/public/js/login.js"></script>