nav{
    display: flexbox;
    height: 6rem;
 margin: 0rem;
    background-color: #3F634E;
    text-align: center;
    
    color: #fff;
}

body{
    background-color: #3A3A38;
}
.login-form{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.404);
    height: 18rem;
    width: 18rem;
    margin-left: 10%;
    display: flexbox;
    position: absolute;
    margin-top: -30rem;
    text-align: center;
}
.signUp-form{
    display: flexbox;
    margin-right: 10%;
    margin-top: -30rem;
    height: 3rem;
    background-color: #3f634e;
    text-align: center;
    color: #fff;
}